<p>
  <h2> Save the Date </h2>
  <h4> Sign Up Form </h4>
<p>
<%= form_tag("/users") do %>
<p>
<%= label_tag "Name:" %>
<%= text_field_tag "name" %></br>
<%= label_tag "Email:" %>
<%= text_field_tag "email" %></br>
<%= label_tag "Birthday:" %>
<%= text_field_tag "birthday" %></br>
<%= label_tag "Password:" %>
<%= password_field_tag "password" %>
</p>
<%= submit_tag "Sign Up" %>
<% end %>
